.container {
  position: relative;
  text-align: center;
}

.centered {
  color: #fff;
  font-size: 1.3rem;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.mision {
  border-top: 4px solid #f8bb18;
}

.mision .logo {
  margin-bottom: 50px;
  max-width: 266px;
}

#servicios {
  
}

#servicios h2{
  color: #f8bb18;
  font-family: tahomamd;
}

#servicios h3{
  color: #f8bb18;
  font-family: tahoma;
  text-align: left;
  font-size: 1.2rem;
  line-height: inherit;
}

#servicios li{
  text-align: left;
  font-family: tahoma;
  color: #fff;

}

