.container {
  position: relative;
  text-align: center;
}

.centered {
  color: #fff;
  font-size: 1.4rem;
  padding: 50px;
  text-align: center;
}

.top-line {
  border-top: 4px solid #f8bb18;
}

.mision h2 {
  color: #fff;
  text-align: left;
}

.mision .logo {
  max-width: 420px;
}

#productos {
  margin-top: 5em;
}

#productos h2 {
  color:#F70C49;
  font-size: 2rem;
  text-align: left;
}

#productos p {
  text-align: left;
  font-weight: bold;
  font-size: 1rem;
}

#productos li {
  font-size: 1rem;
  text-align: left;
  margin-bottom: 1em;
}

h4 {
  color: #0081AB;
  text-align: left;
  font-weight: bold;
  font-size: 1em;
  margin-bottom: 1.6em;
}

#servicios h2,
#mision h2 {
  color: #f8bb18;
  font-family: tahomamd;
}

#servicios h3,
#contacto h3 {
  color: #f8bb18;
  font-family: tahomamd;
  text-align: center;
  font-size: 1.3rem;
  line-height: inherit;
}

#servicios h4 {
  color: #f8bb18;
  font-family: tahoma;
  font-size: 1.2rem;
  line-height: inherit;
  text-align: left;
}

#servicios li {
  color: #fff;
  font-family: tahoma;
  text-align: left;
}

#clientes {
  background: rgb(43, 53, 134);
  background: linear-gradient(
    180deg,
    rgba(43, 53, 134, 1) 0%,
    rgba(42, 60, 152, 1) 35%,
    rgba(99, 135, 204, 1) 100%
  );
  background: url("../../images/bg-confian.jpg");
}

#clientes h2,
#contacto h2 {
  color: #f8bb18;
  font-family: tahomamd;
}

#clientes .clientes {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

#clientes .clientes p {
  line-height: normal;
}

#contacto {
  background: url("../../images/bg-contacto.jpg");
  line-height: normal;
  font-size: 0.9em;
}

#contacto .logo {
  max-width: 210px;
  margin: 0 auto;
}

#contacto p {
  color: white;
  font-family: tahoma;
  text-align: center;
}

.extra-border {
  padding: 20px;
}

.extra-decorator {
  padding: 10px 0 10px 20px;
  border-left: 3px #f8bb18 solid;
}

.soc-item {
  font-size: 20px;
  float: right;
  padding: 10px;
}

.soc-item a {
  color: #fff;
  font-size: 16px;
}

.soc-item a:hover {
  color: #f8bb18;
}

.secondary-list {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
}

.secondary-list li{
  margin-left: 1em;
  padding: 0;
  list-style: none;
  padding-left: 1em;
}

.secondary-list li:before {
    content: '';
    display: inline-block;
    height: 1em;
    width: 1em;
    background-image: url(./../../../assets/images/cheque.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right:0.5em;   
  }


  .tertiary-list {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    padding: 0;
  }
  
  .tertiary-list li{
    margin-left: 1em;
    padding: 0;
    list-style: none;
    padding-left: 1em;
  }
  
  .tertiary-list li:before {
      content: '';
      display: inline-block;
      height: 1em;
      width: 1em;
      background-image: url(./../../../assets/images/cheque.svg);
      background-size: contain;
      background-repeat: no-repeat;
      margin-right:0.5em;   
    }

    .title-blue {
      background-color: #0081AB;
      text-align: center;
    }



    p.title-blue {
      color: white;
      background-color: #0081AB;
      padding: 10px;
    }


@media screen and (min-width: 600px) {

  .secondary-list {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }

  .tertiary-list {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }

  #clientes h2,
  #contacto h2,
  #mision h2 {
    text-align: left;
  }

  #contacto .logo {
    max-width: 380px;
    }

  .centered {
    border: solid 2px;
  }
  .extra-border {
    border: solid 2px;
    padding: 15px;
    border-radius: 20px;
  }
  #contacto .logo {
    margin: initial;
  }
  #clientes .clientes {
    padding: 40px;
    border-radius: 20px;
  }
  #servicios h3,
  #contacto h3 {
    text-align: left;
  }
  #contacto p {
    text-align: left;
  }
  .cid-s7tw5Ks0Bw3 p{
    max-width: 75%;
  }
}

